footer {
    background-color: var(--primary-color);
    color: var(--preto);
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    border-top: 0.1rem solid var(--secundary-color);
}